@import 'meyer-reset.css'

html
  width 100%
  height 100%

body
  background-color #c4c4c4
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center

  main
    img
      width 200px
      height 200px
      border-radius 50%
      border 5px solid #566473
    
    h1
      font-size 18px
      text-align center
      margin-top 10px
      font-family sans-serif